html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: rgb(247, 247, 247);
    width: min(100%, 1800px);
}

#container {
    padding-left: 5%;
    padding-right: 5%;
    
}

#hidden-menu, #hamburger-container {
    display: none;
}

/* TOP BAR / NAVIGATION */
#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
    /* position: fixed; */
}

a {
    text-decoration: none;
    color: black;
}

#top a {
    z-index: 101;
}

#ul-nav {
    display: flex;
    /* justify-content: space-between; */
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 101;
}

#ul-nav:first-child {
    padding-right: 0;
    margin-right: 0;
}

.li-nav {
    padding: 1%;
    margin: 1%;
    width: 125px;
    position: relative;
    
}

.li-nav a {
    font-family: 'Quicksand', sans-serif;
    transition: text-decoration ease-in 350ms;
    z-index: 101;
}

/* .li-nav a:hover {
    text-decoration: underline;

} */

.li-nav a::after {
    content: '';
    display: block;
    height: 1.5px;
    width: 0;
    background-color:  black;
    position: absolute;
    bottom: 0;

    transition: all ease-in-out 300ms;
}

.li-nav a:hover::after {
    width: 90%;
}

#top-nav {
    display: flex;
}

#top-logo {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    z-index: 101;
}



#resume-nav {
    padding: 1%;
    /* padding: 1% 2% 1% 2%; */
    margin: 1%;
    width: 80px;
    height: 20px;
    background-color: black;
    border: 1px solid black;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid black; */
    border-radius: 5px;
    z-index: 101;

    transition: all ease-in 200ms;
}

#resume-nav a {
    color: rgb(247, 247, 247);
    /* color: black; */
    z-index: 101;

    transition: all ease-in 200ms;
}

#resume-nav:hover {
    background-color: rgb(178,178,178);
    border: 1px solid black;
}

#resume-nav:hover a {
    color: black;
}

/* HOME CONTENT */

.main-text-content {
    /* text-align: center; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    margin-left: 2%;
    margin-right: 7%;
    height: 100vh;
}

#text-area {
    margin-right: 10%;
}

#my-name {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    margin-bottom: 0;
}

#tag-line {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    color: gray;
    /* color: lightslategray; */
    margin-top: 0;
    margin-bottom: 0;
}

#resume-btn {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3% 8% 3% 8%;
    margin-top: 5%;
    cursor: pointer;

    transition: background-color ease-in 400ms;
}

#resume-btn:hover {
    background-color:rgba(0, 0, 0, 0.75);
}

#resume-btn:hover a {
    color: rgb(247, 247, 247);
}

/* ICONS FOR MAIN PAGE */
#icon-container {
    display: flex;
    margin-left: 5%;
}

#computer-icon {
    height: 300px;
    width: 300px;
    transform: rotateZ(-5deg);
    position: relative; 
    top: 60px;

    /* animation: icon_bounce 2.25s ease-in-out; */
}

#program-icon {
    height: 150px;
    width: 150px;
    transform: rotateZ(5deg);
    position: relative; 
    top: 65px;
    /* margin-right: 3%; */

    /* animation: icon_bounce 2.25s ease-in-out; */

}

/* #computer-icon:hover, 
#program-icon:hover {
    animation: bounce 2.25s ease-in-out; 

} */

/* FIXED SIDE CONTACT INFO */

#side-info-left, #side-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    position: fixed;
}

#side-info-right {
    right: 8%;  
}
#social-div {
    display: flex;
    flex-direction: column;
    font-size: 26px;
}

#social-div a, #email-div a {
    padding-bottom: 15px;

    transition: all ease-in 200ms;
}

#social-div a:hover {
    font-size: 28px;
}

#email-div a:hover {
    font-weight: bold;
}

#email-div {
    writing-mode: vertical-rl;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
.vertical-line {
    border-left: 1.8px solid black;
    height: 150px;
    /* margin: 20%; */
}

/* ABOUT SECTION */

#about-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 20%;
    /* padding-right: 20%;
    padding-left: 20%; */
}

#about-text {
    width: 40%;
    min-width: 520px;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Quicksand', sans-serif;
    margin-right: 5%;
    background-color: rgb(178,178,178);
    padding: 2%;
    height: 65%;
    min-height: 475px;
    max-height: 500px;
    border-radius: 2%;
    border: 1px solid black;
    /* font-size: 64px; */
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

/* New from Old Design for offset background solid color for About Section text */
.helper {
    margin-left: 5%;
}

.personal-headshot-container {
    position: relative;
    /* height: 300px;
    width: 235px; */

    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    
    height: 400px;
    width: 315px;
}

.personal-headshot-offset {
    position: relative;
    left: -20px;
    top: -25px;
    /* border: 2px solid black; */

}
.headshot {
    height: 400px;
    width: 315px;
    filter: brightness(70%);
    border-radius: 5%;

    transition: all ease-in 350ms;
}

.headshot:hover {
    filter: brightness(100%);
}

#skills-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

.skill {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1% 2% 1% 2%;
    font-size: 12px; 
}




/* PROJECTS SECTION */
#full-projects-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#projects-container {
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: rgb(178,178,178);
    border: 1px solid black;
    border-radius: 10px;
}

.projects {
    width: 80%;
    height: 400px;
    /* height: 100%; */
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 3%;
    margin-bottom: 8%;
    background-color: rgb(247, 247, 247);
}

#projects-container .section-title {
    padding-top: 2%;
    padding-bottom: 3%;
}

.project-image-container { 
/* #project-image-container { */
    width: 65%;
    height: 400px;
    /* height: 100%; */
    border: 1px solid black;
    border-radius: 10px;
    /* z-index: 90; */
    
}

.project-info-section{
/* #project-info-section { */
    width: 35%;
    height: 400px;
    /* height: 100%; */
    /* border: 1px solid black;
    border-radius: 10px; */
    background-color: rgb(247, 247, 247);
    /* margin-left: 1%; */
    padding: 0 1% 0 1%;
    z-index: 99;
}

#project-info-section, #project-info-section-three {
    margin-left: 1%;
}

#project-info-section-two {
    margin-right: 1%;
}

/* .project-top { */
#project-top, #project-top-three {
    display: flex;
    justify-content: flex-end;
}

.project-description {
/* #project-description { */
    /* border: 1px solid rgb(247, 247, 247); */
    /* z-index: 99; */
    width: 135%;
    min-width: 350px;
    margin-top: 2%;
    /* margin-left: -35%; */
    background-color: #414141;
    font-family: 'Quicksand', sans-serif;
    padding: 2% 10% 2% 9%;
    color: rgb(247, 247, 247);
    line-height: 1.6;
    border-radius: 10px;
    font-size: 14px;
}

#project-description, #project-description-three {
    margin-left: -50%;
}

.project-top {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-top: 5%;
}

.project-bottom {
    width: 100%;
}

/* should be a class for all projects */
.skills {
    /* display: flex;
    justify-content: space-evenly; */
}

.skills ul {
    padding:0;
    display: flex;
    justify-content: space-evenly;
}

/* should be a class for all projects */
/* #project-buttons { */
.project-buttons {
    display: flex;
    justify-content: space-evenly;
}

.project-buttons button {
    background-color: #414141;
}

/* PROJECT THREE */
/* #tesla-img, #rps-img, #park-city-img { */
.project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(15%);
    border-radius: 10px;
    /* z-index: -99; */

    transition: all ease-in-out 500ms;
}

.project-image-container img:hover {
    filter: brightness(100%);
}



#skills-three ul, #skills-two ul, #skills ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
    /* padding: 0;
    margin: 0; */
}

#skills-three li, #skills-two li, #skills li {
    border: 1px solid #565656;
    background-color: rgb(247, 247, 247);
    color: #565656;
    border-radius: 50%;
    padding: 8% 6% 8% 6%;
    font-size: 12px;
}

/* #project-buttons-three {
    display: flex;
    justify-content: flex-end;
} */

#project-buttons-three button, #project-buttons-two button, #project-buttons button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #414141;
    color: white;
    padding: 2% 5% 2% 5%;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;

}

#code-three {
    margin-right: 5%;
}


/* CONTACT SECTION */

#contact-section {
    height: 100vh;
    width: 100%;
    margin-top: 20%;
    padding-top: 10%;
    display: flex;
    justify-content: center;

}
#full-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    margin: 0% 25% 0% 25%;
    padding: 2%;
    background-color: rgb(178,178,178);
    border-radius: 30px;
    border: 1px solid black;
    width: 60%;
    min-width: 350px;
    max-height: 350px;
}

#call-to-action {
    font-family: 'Quicksand', sans-serif;
    /* margin: 0% 30% 0% 30%; */
    /* padding: 2%; */
    text-align: center; 
    
}

#call-to-action button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2% 5% 2% 5%;
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

#bottom-email-btn {
    margin-right: 2%;
}

#bottom-linkedin-btn {
    margin-left: 2%;
}

/* HAMBURGER MENU */
#hamburger-container {
    display: inline-block;
    cursor: pointer;
    display: none;
    z-index: 101;
    /* background-color: black; */
    
}

#hamburger {
    /* change to a different color later */
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
    z-index: 101;
}

#bar-one,
#bar-two,
#bar-three {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 101;
}

/* Rotate first bar */
.change #bar-one {
    /* -webkit-transform: rotate(-45deg) translate(-8px, 8px); */
    transform: rotate(-45deg) translate(-6px, 4px);
}

/* Fade out the second bar */
.change #bar-two {
    opacity: 0;
}

/* Rotate last bar */
.change #bar-three {
    /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
    transform: rotate(45deg) translate(-7px, -6px);
}



/* MEDIA QUERIES */

@media only screen and (max-width: 1300px) {

    #my-name {
        /* font-size: 80px; */
        font-size: 50px;
    }
    
    #tag-line {
        /* font-size: 56px; */
        font-size: 35px;
    }
    
    #resume-btn {
        /* font-size: 14px; */
        font-size: 10px;
    }

    #computer-icon {
        height: 150px;
        width: 150px;
    }
    
    #program-icon {
        height: 75px;
        width: 75px;
    }

    #icon-container {
        margin-left: 5%;
    
    }


    /* About Section */
    /* Remove photo */
    #total-photo-about {
        display: none;
    }
    
    /* Project Section */
    /* Project Description positioning */
    #project-description, #project-description-three {
        margin-left: -60%;
    }

    .project-top p {
        font-size: 20px;
    }

}

@media only screen and (max-width: 1080px) {
    /* Projects */
    /* Put image behind information container */
  .project-image-container {
      display: none;
  }
  .project-info-section {
      width: 100%;
  }
  .project-description {
      padding: 2% 5% 3% 5%;
      margin: 0;
      margin-left: 0 !important;
      width: 90%;
      min-width: 200px;
      height: 30%;
      text-align: center;
  }
  .project-top {
      justify-content: center !important;
      color: white;
      border: 1px solid black;
      background-color: grey;
      border-radius: 5%;
      margin-left: 25%; 
      margin-right: 25%;
      margin-bottom: 5%;
      padding-left: 5%;
      padding-right: 5%;
      /* padding-top: 1%; */
      /* padding-bottom: 2%; */
  }
  #project-top-two {
      display: flex;
      justify-content: center !important;
  }

  .skills li {
    padding: 3% !important;
  }

  .project-buttons button {
      padding-right: 3% !important;
      padding-left: 3% !important;
  }

  /* add background individually for each project */
  #project-info-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/ParkCityHotelWebsite.png');
      /* background-image: url('../images/ParkCityHotelWebsite.png'); */
  }
  #project-info-section-two {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/RockPaperScissorsGame.png');
    /* background-image: url('../images/RockPaperScissorsGame.png');  */
  }
  #project-info-section-three {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/TeslaCloneProject.png');
    /* background-image: url('../images/TeslaCloneProject.png');  */
  }

  #project-info-section, #project-info-section-two, #project-info-section-three {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  }
  

}

@media only screen and (max-width: 730px) {

    #my-name {
        /* font-size: 80px; */
        font-size: 35px;
    }
    
    #tag-line {
        /* font-size: 56px; */
        font-size: 24.5px;
    }
    
    #resume-btn {
        /* font-size: 14px; */
        font-size: 10px;
    }

    #computer-icon {
        height: 100px;
        width: 100px;
    }
    
    #program-icon {
        height: 50px;
        width: 50px;
    }

    .li-nav {
        display: none;
    }

    /* Add Hamburger Menu */
    #hamburger-container {
        display: block;
        margin-left: 15%;
        /* display: flex;
        justify-content: flex-start;
        color: white; */
    }

    #top-nav {
        display: flex;
        align-items: center;
    }

    #resume-nav {
        display: flex;
        justify-content: center;
    }

    #icon-container {
        margin-left: 5%;
    
    }

    /* About Section */
    /* Change font size and width */
    #about-text {
        min-width: 320px;
        font-size: 12px;
    }
    /* Need to change skills containers */
    .skill {
        font-size: 8px;
    }

}

@media only screen and (max-width: 455px) {

    .main-text-content {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #icon-container {
        margin-top: -20%;
    
    }

    #computer-icon {
        height: 150px;
        width: 150px;
        left: 20px;
    }
    
    #program-icon {
        height: 75px;
        width: 75px;
        top: 110px;
        left: 35px;
    }

    /* About Section */
    /* Change font size and width */
    #about-text {
        min-width: 230px;
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 50px;
    }
    /* Need to change skills containers */
    #skills-list {
        padding-left: 0;
    }
    .skill {
        font-size: 6px;
    }

    /* Contact Section */
    #full-contact-container {
        min-width: 200px;
        font-size: 12px;
    }

    .section-title {
        margin-bottom: 0;
    }

    #call-to-action button {
        font-size: 12px;
    }


}


/* ANIMATIONS */
/* Basic to get back into it - brainstorm tomorrow to make these better */
@keyframes icon_bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY();
    }
    75% {
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(5px);
    }

    60% {
        transform: translateY(3px);
    }
}

@keyframes delay-display {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-text-content {
    animation: delay-display 3s ease-in-out;
}


/* Hidden Menu */
#hidden-menu {
    /* min-width: 100vw;
    text-align: center;
    position: absolute;
    z-index: 1000;
    background-color: black;
    top: 12%;
    height: 100vh;
    display: none;
    margin: 0 !important; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 100;
    background-color: black;
    padding-top: 120px;
    display: none;
}

#hidden-menu nav ul {
    padding: 0;
    margin: 0 !important;
}

#hidden-menu nav li {
    list-style-type: none;
    /* padding-top: 15%;
    padding-bottom: 15%; */
    border-top: 4px solid grey;
    
    /* border-bottom: 2px solid grey; */
}

#hidden-menu nav li:last-child {
    border-bottom: 4px solid grey;
}

#hidden-menu nav li:hover {
    background-color: grey;
}

#hidden-menu nav li a {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    padding-top: 15%;
    padding-bottom: 15%;
}